{% extends "OCProjectBundle::template.html.twig" %}

{% block header %}
    <div class="header-content clearfix">
        <a class="logo" href="{{ path('oc_project_home') }}">GESTY</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <span><a href="{{ path('oc_project_home') }}">Accueil</a></span>
                <span><a  class="connexion" href=""><i class="fas fa-user vert"></i>{{ app.user.username }}</a></span>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="admin" href="{{ path('oc_project_admin') }}"><i class="fas fa-circle yellow"></i>Espace Admin</a></li>
                {% endif %}
                <span><a class="deconnexion" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-user rouge"></i>Se déconnecter</a></span>
            </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
    </div><!-- header content -->
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center one">
            <div class="sm-col-12 d-flex justify-content-center">
                <h2  class="text-white text-center container my-5">Bienvenu, ici se trouve un ensemble de services destinés à nos membres</h2>
            </div>
            <div class="container sm-col-10 card contenant">
                <img class="card-img-top checklist" src="{{ asset('images/image2.jpg') }}" alt="">
                <div class="card-body corps">

                    <div class="form-group d-flex justify-content-center">

                        <h3 class="text-center font-weight-bold">Bienvenu dans votre espace membre</h3>

                        <p  class="text-center profil username my-3">{{ app.user.username }}</p>

                            <div class="card text-white bg-dark mb-3 carte">
                                        <div class="card-header text-center col-sm-12 titre">Citation du jour</div>
                                        <div class="card-body">
                                            <p id="quote" class="card-text text-center text-white"></p><br>
                                            <h5 id ="author" class="card-title text-center text-white"></h5><br>
                                            <div class="d-flex justify-content-center" ><button id ="button" type="button" class="btn btn-success my-3">Afficher une citation</button></div>
                                        </div>
                            </div>

                        <h3 class="text-center font-weight-bold">Voici la liste des services qui vous sont proposés</h3>

                        <div class="container-fluid conteneur">

                            <div class="row content">

                                <div class="sm-col-6 contenu">
                                    <div class="card activite my-3 gauche">
                                        <img class="card-img-top" src="{{ asset('images/todo.jpg') }}" alt="">
                                        <div class="card-body carte">
                                            <h4 class="card-title titre">Liste de tâches</h4>
                                            <p class="card-text description">Un outil qui vous permet de créer des listes de tâches à effectuer.</p>
                                            <a href="{{ path('oc_project_todo') }}" class="btn btn-primary m_bouton">Liste de tâches</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="sm-col-6 contenu">
                                    <div class="card activite my-3 droite">
                                        <img class="card-img-top" src="{{ asset('images/bookmarks.jpg') }}" alt="">
                                        <div class="card-body carte">
                                            <h4 class="card-title titre">Bookmarks</h4>
                                            <p class="card-text description">Vous pourrez y inscrire l'ensemble de vos sites favoris.</p>

                                            <a href="{{ path('oc_project_bookmarks') }}" class="btn btn-primary m_bouton">Bookmarks</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row content">

                                <div class="sm-col-6 contenu">
                                    <div class="card activite my-3 gauche">
                                        <img class="card-img-top" src="{{ asset('images/projets.jpg') }}" alt="">
                                        <div class="card-body carte">
                                            <h4 class="card-title titre">Projets</h4>
                                            <p class="card-text description">Vous pourrez créer des projets et organiser leur suivi en ligne.</p>
                                            <a href="{{ path('oc_project_projets') }}" class="btn btn-primary m_bouton">Projets</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="sm-col-6 contenu">
                                    <div class="card activite my-3 droite">
                                        <img class="card-img-top" src="{{ asset('images/profil.jpg') }}" alt="">
                                        <div class="card-body carte">
                                            <h4 class="card-title titre">Profil</h4>
                                            <p class="card-text description">Accéder à votre profil, afin de consulter et modifier vos informations.</p>
                                            <a href="{{ path('oc_project_profil') }}" class="btn btn-primary m_bouton">Profil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>

                            </div>

                        </div>



                    </div>

                </div>

{% endblock %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('assets/js/jquery.min.js') }}"><\/script>')</script>
    {% javascripts output="js/compiled/core.js" filter='jsqueeze'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/quote.js') }}"></script>

{% endblock %}