{% extends "OCProjectBundle::template.html.twig" %}

{% block header %}
    <div class="header-content clearfix">
        <a class="logo" href="{{ path('oc_project_home') }}">GESTY</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <span><a href="{{ path('oc_project_home') }}">Accueil</a></span>
                <span><a href="{{ path('oc_project_member') }}">Espace membre</a></span>
                <span><a  class="connexion" href=""><i class="fas fa-user vert"></i>{{ app.user.username }}</a></span>
                <span><a class="deconnexion" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-user rouge"></i>Se déconnecter</a></span>
            </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
    </div><!-- header content -->
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center one">

            <div class="container sm-col-10 card contenant">
                <img class="card-img-top checklist" src="{{ asset('images/computer.jpg') }}" alt="">
                <div class="card-body corps">

                    <div class="form-group d-flex justify-content-center">

                        <h3 class="text-center font-weight-bold">Supprimer votre compte</h3>

                        <div class="alert alert-danger my-5" role="alert">
                            <span class="badge badge-pill badge-danger">Danger</span>
                            <p class="text-dark font-weight-bold">Attention, êtes vous sur de bien vouloir supprimer votre compte?<br>
                                la suppression de vos données est définitive.
                            </p>
                        </div>

                        <p class="d-flex justify-content-center"><a type="button" class="btn btn-danger d-flex justify-content-center text-center" href="{{path ('oc_project_userdelete', { 'id': app.user.id }) }}">
                                <i class="fas fa-window-close mr-2 mt-1"></i> supprimer votre compte
                            </a><br></p>

                        <div class="col-sm-10 container d-flex justify-content-center">
                            <div class="my-3 container d-flex justify-content-center retour"><i class="far fa-arrow-alt-circle-left mr-2 mt-3" ></i><a href="{{ path('oc_project_profil') }}">Retourner à votre profil</a></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}