{% extends "OCProjectBundle::template.html.twig" %}

{% block header %}
    <div class="header-content clearfix">
        <a class="logo" href="{{ path('oc_project_home') }}">GESTY</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <span><a href="{{ path('oc_project_home') }}">Accueil</a></span>
                <span><a href="{{ path('oc_project_member') }}">Espace membre</a></span>
                <span><a href="{{ path('oc_project_projets') }}">Projets</a></span>
                <span><a  class="connexion" href=""><i class="fas fa-user vert"></i>{{ app.user.username }}</a></span>
                <span><a class="deconnexion" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-user rouge"></i>Se déconnecter</a></span>
            </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
    </div><!-- header content -->
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center liste">
        <div class="row">
            {% for projet in listProjet %}
            <div class="col-sm-6 my-3 projet">
                <div class="card carte" >
                    <div class="card-body">

                        <h5 class="card-title text-center font-weight-bold">
                            {{ projet.title }} </h5>
                        <p class="card-text text-center font-weight-bold para">{{ projet.content }}</p>
                        <div class="lien" ><a type="button" class="btn btn-success d-flex justify-content-center" href="{{ path('oc_project_change', {'id': projet.id}) }}"><i class="fas fa-edit mr-1 mt-1"></i>modifier</a><a type="button" class="btn btn-danger d-flex justify-content-center text-center" href="{{ path('oc_project_erase', {'id': projet.id}) }}"><i class="fas fa-window-close mr-2 mt-1"></i> supprimer</a><br></div>
                        <a href="{{ path('oc_project_projets') }}" class="btn btn-primary my-3 d-flex justify-content-center">Retourner à la page projet</a>

                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}