{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liens favoris{% endblock %}

{% block header %}
    <div class="header-content clearfix">
        <a class="logo" href="{{ path('home') }}">GESTY</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('member') }}">Espace membre</a></li>
                <li><a  class="espace" href=""><i class="fas fa-user vert"></i>{{ app.user.username }}</a></li>
                <li><a class="deconnect" href="{{ path('logout') }}"><i class="fas fa-user rouge"></i>Se déconnecter</a></li>
            </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
    </div><!-- header content -->
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center title">
        <h2  class="text-white text-center my-5" >L'outil bookmarks vous permettra de mettre en place une liste <br> de vos liens favoris</h2>
    </div>
    <div class="container images">
        <img src="{{ asset('build/images/book.jpg') }}" class="img-thumbnail" alt="">
    </div>
    <div class="container my-3">
        <p class="d-flex justify-content-center"><a type="button" class="btn btn-danger d-flex justify-content-center text-center bn_membre" href="{{ path('member') }}">
                <i class="fas fa-chevron-circle-left  mr-2 mt-1"></i> Retourner à l'espace membre
            </a>
        </p>
    </div>
    <div class="container d-flex justify-content-center">
        <h3 class="favorite">Mes liens favoris</h3>
    </div>
    <div class="container d-flex justify-content-center my-2">
        {{ form_start(bookmarksForm) }}

        {{ form_widget(bookmarksForm.url, {'attr': {'value': 'https://www.'}}) }}

        <span class="container d-flex justify-content-center my-3">
            {{ form_widget(bookmarksForm.submit, { 'label': 'Ajouter un lien' , 'attr': {'class': 'add_todo'}}) }}
        </span>

        {{ form_end(bookmarksForm) }}
    </div>

    <ul  class="container my-3 liste">

        {% for links in listUrls %}

            <li class=" my-2 font-weight-bold text-center">

                    <div class="d-flex flex-row justify-content-center">

                        <h4  class="text-center titre mt-1"><a class="lien" href="{{ links.url }}" target="_blank">{{ links.url }}</a></h4>
                    </div>

                <div class="lien" >

                    <a type="button" class="btn d-flex justify-content-center my-2 modify_profile" >
                        <i class="fas fa-edit  mr-1 mt-1"></i>modifier
                    </a>

                    <a type="button" class="btn d-flex justify-content-center text-center my-2 delete" id="{{ links.id }}">
                        <i class="fas fa-window-close  mr-2 mt-1"></i> supprimer
                    </a><br>

                </div>

                <div class="result my-2">

                    <div class="alert alert-success modify_todo" role="alert">
                        <h5 class="modify_title">Modifier mon lien</h5>
                        <input type="text" class="form-control" value="https://www.">
                        <button class="btn btn-success mt-2 mod_button" id="{{ links.id }}">Modifier</button>
                    </div>

                </div>

            </li>

        {% endfor %}

    </ul>

    {% set maxValue = 0 %}

    {% for links in listAllUrls %}
        {% set maxValue = max(links.id, maxValue) + 1 %}
    {% endfor %}

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    <script>
        $( document ).ready(function() {

            $(document).on("click","button#bookmarks_submit",function(){

                const addBookmarks = $( "input#bookmarks_url" ).val();

                $("ul.container.my-3.liste").append("<li class=\" my-2 font-weight-bold text-center\">\n" +
                    "\n" +
                    "                    <div class=\"d-flex flex-row justify-content-center\">\n" +
                    "\n" +
                    "                        <h4  class=\"text-center titre mt-1\"><a  class=\" lien\" href=\"" + addBookmarks + "\" target=\"_blank\">" + addBookmarks + "</a></h4>\n" +
                    "                    </div>\n" +
                    "\n" +
                    "                <div class=\"lien\" >\n" +
                    "\n" +
                    "                    <a type=\"button\" class=\"btn d-flex justify-content-center my-2\" >\n" +
                    "                        <i class=\"fas fa-edit  mr-1 mt-1\"></i>modifier\n" +
                    "                    </a>\n" +
                    "\n" +
                    "                    <a type=\"button\" class=\"btn d-flex justify-content-center text-center my-2 delete\" id=\"{{ maxValue }}\">\n" +
                    "                        <i class=\"fas fa-window-close  mr-2 mt-1\"></i> supprimer\n" +
                    "                    </a><br>\n" +
                    "\n" +
                    "                </div>\n" +
                    "\n" +
                    "                <div class=\"result my-2\">\n" +
                    "\n" +
                    "                    <div class=\"alert alert-success modify_todo\" role=\"alert\" style=\"height: auto;\">\n" +
                    "                        <h5 class=\"modify_title\">Modifier mon lien</h5>\n" +
                    "                        <input type=\"text\" class=\"form-control\" value=\"http://www.\">\n" +
                    "                        <button class=\"btn btn-success mt-2 mod_button\" id=\"{{ maxValue }}\">Modifier</button>\n" +
                    "                    </div>\n" +
                    "\n" +
                    "                </div>\n" +
                    "\n" +
                    "            </li>");

                $("div.result").hide();
                $.ajax({
                    url: "{{ (path('bookmarks')) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "addBookmarks": addBookmarks
                    },
                    async: true,
                    success: function (data)
                    {

                    }

                });
                return false;
            });
        });
    </script>

    <script>

        $( document ).ready(function() {

            $("div.result").hide();

            $(document).on("click","a.btn.d-flex.justify-content-center.my-2",function() {
                $(this).parent().next().toggle();
            });

            $(document).on("click","button.btn.btn-success.mt-2",function() {

                const modifyBookmarks = $(this).prev("input.form-control").val();
                const modifyIdBookmarks = $(this).attr('id');

                if (modifyBookmarks ===  ""){
                    //Do nothing
                }
                else {
                  let test = $(this).parent().parent().parent().find("a.lien").html($(this).prev("input.form-control").val());

                  $(this).parent().parent().parent().find("a.lien").attr('href', test.text());
                }

                $.ajax({
                    url: "{{ (path('bookmarks')) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "modifyBookmarks": modifyBookmarks,
                        "modifyIdBookmarks": modifyIdBookmarks
                    },
                    async: true,
                    success: function (data) {

                    }

                });

            });

        });

    </script>

    <script>
        $( document ).ready(function() {

            $(document).on("click","a.btn.d-flex.justify-content-center.text-center.my-2.delete",function() {
                const confirmation = confirm('Êtes vous sur de vouloir supprimer cet élément ?');
                if(confirmation){

                    const suppressBookmarks = $( this ).attr('id');

                    $.ajax({
                        url:'{{ (path('bookmarks')) }}',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "suppressBookmarks": suppressBookmarks
                        },
                        async: true,
                        success: function (data)
                        {

                        }
                    });

                    $( this ).parent().parent().remove();

                    return true;
                }
                else{
                    $("div.result").hide();
                    return false;
                }

            });

        });

    </script>

{% endblock %}