{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block header %}
    <div class="header-content clearfix">
        <a class="logo" href="{{ path('home') }}">GESTY</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('register') }}">Inscription</a></li>
                <li><a href="{{ path('login') }}">Connexion</a></li>
            </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a>
    </div><!-- header content -->
{% endblock %}

{% block body %}

    <div class="container">

    <div class="row d-flex justify-content-center one text-center text-white">
        <form action="{{ path('login') }}" method="post">
            <div class="form-group d-flex flex-column">
                <span class="my-1">Pseudonyme :</span>
                <input placeholder="Nom d'utilisateur" name="_username" type="text" class="form-control login_user" required>
            </div>
            <div class="form-group d-flex flex-column">
                <span class="my-1">Mot de passe :</span>
                <input placeholder="Mot de passe" name="_password" type="password" class="form-control login_pass" required>
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" class="mt-2 mr-1"/>
                <label for="remember_me">Se souvenir de moi</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Connexion</button>
            </div>
        </form>
    </div>

    </div>
{% endblock %}